<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee frontpage</title>
    <!-- External stylesheets -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Bootstrap CSS for responsive design and styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">


<!-- TOP NAVBAR -->
<nav class="navbar">
    <!-- Logo -->
    <div class="logo-link ms-2">
        <img src="/logo.png" alt="Logo" width="246" height="45">
    </div>
    <!-- Sign-out button -->
    <form th:action="@{/alphaSolutions/auth/logout}" method="post">
        <button type="submit" class="signout-button">Sign out</button>
    </form>
</nav>
<!-- TOP NAVBAR (END) -->


<!-- USERNAME + TEXT -->
<div class="px-4 py-5 my-5 text-center">
    <!-- Profile image -->
    <img class="d-block mx-auto mb-1" src="/UserLogo.svg" alt="" width="72" height="57">
    <!-- Username -->
    <h1 class="display-5 fw-bold text-body-emphasis" th:text="${username}">username</h1>
    <div class="col-lg-6 mx-auto">
        <!-- Text -->
        <p class="lead mb-4">Welcome back <span th:text="${username}">username</span>! You can view your projects below.</p>
    </div>
</div>
<!-- USERNAME + TEXT (END) -->


<!-- PROJECTS LOOP -->
<div class="container-fluid px-4">

    <!-- For-each loop -->
    <div class="card mb-4" th:each="project : ${projects}">

        <!-- Link for project view page -->
        <a th:href="@{/alphaSolutions/emp/employee-project/{projectId}(projectId=${project.getProjectId()})}" class="card-header d-flex justify-content-between align-items-center text-decoration-none header-hover">

            <!-- ProjectName -->
            <span class="text-dark" th:text="${project.projectName}"></span>

            <!-- Status with color coordination (Switch-case) -->
            <th:block th:switch="${project.projectStatus.name()}">

                <span th:case="'COMPLETED'"
                      class="badge rounded-1 fw-light fs-6 bg-success" th:text="${project.projectStatus}"></span>           <!-- COMPLETED = Green -->

                <span th:case="'IN_PROGRESS'"
                      class="badge rounded-1 fw-light fs-6 bg-primary" th:text="${project.projectStatus}"></span>           <!-- IN_PROGRESS = Blue -->

                <span th:case="'NOT_STARTED'"
                      class="badge rounded-1 fw-light fs-6 bg-secondary" th:text="${project.projectStatus}"></span>         <!-- NOT_STARTED = Grey -->

                <span th:case="*"
                      class="badge rounded-1 fw-light fs-6 bg-light text-dark" th:text="${project.projectStatus}"></span>   <!-- *(else) = light-grey & text-dark -->
            </th:block>
        </a>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-fixed mb-0 align-middle">

                    <thead class="text-dark fs-4">
                    <tr>
                        <!-- Title "Assigned" -->
                        <th class="border-bottom-0 fw-semibold fs-6" style="width: 20%;">Assigned</th>
                        <!-- Title "Time estimate" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Time estimate</th>
                        <!-- Title "Time spent" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Time spent</th>
                        <!-- Title "Priority" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Priority</th>
                        <!-- Title "Planned start" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Planned start</th>
                        <!-- Title "Planned end" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Planned end</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <!-- Assigned employees (for-each loop) -->
                        <td class="border-bottom-0 fw-normal fs-6 text-wrap">
                            <span th:each="emp : ${employeeMap[project.projectId]}" th:text="${emp.username + ', '}"></span>
                        </td>
                        <!-- Time estimate -->
                        <td class="border-bottom-0 fw-normal fs-6" th:text="${project.estimatedHours}">
                            <!-- Time spent -->
                        <td class="border-bottom-0 fw-normal fs-6" th:text="${project.actualHoursUsed}">


                            <!-- Priority with color coordination (Switch-case) -->
                        <td class="border-bottom-0">
                            <th:block th:switch="${project.projectPriority.name()}">

                                <span th:case="'HIGH'"
                                      class="badge rounded-3 fw-semibold fs-6 bg-danger" th:text="${project.projectPriority}"></span>            <!-- HIGH = Red -->

                                <span th:case="'MEDIUM'"
                                      class="badge rounded-3 fw-semibold fs-6 bg-warning" th:text="${project.projectPriority}"></span>          <!-- MEDIUM = Yellow -->

                                <span th:case="'LOW'"
                                      class="badge rounded-3 fw-semibold fs-6 bg-info" th:text="${project.projectPriority}"></span>             <!-- LOW = Light-blue -->

                                <span th:case="*"
                                      class="badge rounded-3 fw-semibold fs-6 bg-light text-dark" th:text="${project.projectPriority}"></span>  <!-- *(else) = light-grey & text-dark -->
                            </th:block>
                        </td>

                        <!-- Start date -->
                        <td class="border-bottom-0 fw-normal fs-6">
                            <span class="d-block fw-normal" th:text="${project.projectStartDate}"></span>
                        </td>

                        <!-- End date -->
                        <td class="border-bottom-0 fw-normal fs-6">
                            <span class="d-block fw-normal" th:text="${project.projectEndDate}"></span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- PROJECTS LOOP (END) -->


<!-- FOOTER -->
<div class="container">
    <footer class="py-3 my-0">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <!-- Customer support text -->
        <p class="text-center text-body-secondary">Customer Support: (+45) 35 20 30 40</p>
    </footer>
</div>
<!-- FOOTER (END) -->


</body>
</html>