<!DOCTYPE html>
<html lang="en" xmlns:https="">
<head>
    <meta charset="UTF-8">
    <title>Project manager project</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">


<!-- Top NAVBAR -->
<nav class="navbar">
    <a href="https://www.example.com/" class="logo-link ms-2">
        <img src="/static/logo.png" alt="Logo" width="246" height="45">
    </a>
    <button class="signout-button">Sign out</button>
</nav>
<!-- Top NAVBAR (END) -->

<!-- Top  -->
<div class="container-fluid px-4 py-2">

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-1">
        <div class="col d-flex flex-column align-items-start gap-2" style="margin-top: 70px;">
            <h2 class="fw-bold text-body-emphasis">ProjectName</h2>
            <p class="text-body-secondary">Description blablabla blabla blablabla blablabla blablabla blablabla blabla
                blablabla blablabla blablabla blablabla blablabla.</p>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-3 g-0">
                <div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example m-0 border-0">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <img src="/static/clock-fill.svg" alt="Clock" width="18" height="18">
                                Time estimate: 110
                            </li>
                            <li class="list-group-item">
                                <img src="/static/clock.svg" alt="Clock" width="18" height="18">
                                Time spent: 125
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="margin-top: -75px;">
                <div class="bd-example-snippet bd-code-snippet text-end">
                    <a href="https://www.example.com/">
                        <img src="/static/gear.svg" alt="Settings" class="icon-hover" width="60" height="60">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Top (END) -->


<!-- Add Task and Back button -->
<div class="d-flex justify-content-between align-items-center px-3 mb-4">

    <!-- Left: Image with link + hover effect -->
    <a href="https://www.example.com/">
        <img src="/static/arrow-return-left.svg" alt="Return" class="icon-hover" style="height: 40px;">
    </a>

    <!-- Right: Add Task button -->
    <a href="https://www.example.com/">
        <button class="btn btn-outline-dark" style="width: 150px; height: 50px;">
            + Add task
        </button>
    </a>

</div>
<!-- Add Task and Back button (END) -->



<!-- Subprojects -->
<div class="container-fluid px-4">

    <!-- Subproject #1 -->
    <div class="card mb-4">

        <a href="https://www.example.com/" class="card-header d-flex justify-content-between align-items-center text-decoration-none header-hover">
            <span class="text-dark">Task #1</span>
            <span class="badge bg-success rounded-1 fw-light fs-6">Completed</span>
        </a>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-fixed mb-0 align-middle">
                    <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0 fw-semibold fs-6" style="width: 20%;">Assigned</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Time Estimate</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Time Spent</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Priority</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Edit</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border-bottom-0 fw-normal fs-6 text-wrap">Martinjensen69, Peterbelly22, XfactorMartin94</td>
                        <td class="border-bottom-0 fw-normal fs-6">10</td>
                        <td class="border-bottom-0 fw-normal fs-6">10</td>
                        <td class="border-bottom-0">
                            <span class="badge bg-primary rounded-3 fw-semibold fs-6">Low</span>
                        </td>
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/static/gear.svg" alt="Settings" class="icon-hover" width="22" height="22">
                            </a>
                        </td>
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/static/trash-fill.svg" alt="delete" class="icon-hover" width="22" height="22">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Subproject #2 -->
    <div class="card mb-4">

        <a href="https://www.example.com/" class="card-header d-flex justify-content-between align-items-center text-decoration-none header-hover">
            <span class="text-dark">Task #1</span>
            <span class="badge bg-secondary rounded-1 fw-light fs-6">In progress </span>
        </a>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-fixed mb-0 align-middle">
                    <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0 fw-semibold fs-6" style="width: 20%;">Assigned</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Time Estimate</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Time Spent</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Priority</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Edit</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border-bottom-0 fw-normal fs-6 text-wrap">Martinjensen69, Peterbelly22, XfactorMartin94</td>
                        <td class="border-bottom-0 fw-normal fs-6">12</td>
                        <td class="border-bottom-0 fw-normal fs-6">7</td>
                        <td class="border-bottom-0">
                            <span class="badge bg-warning rounded-3 fw-semibold fs-6">Medium</span>
                        </td>
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/static/gear.svg" alt="Settings" class="icon-hover" width="22" height="22">
                            </a>
                        </td>
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/static/trash-fill.svg" alt="delete" class="icon-hover" width="22" height="22">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Subproject #3 -->
    <div class="card mb-4">

        <a href="https://www.example.com/" class="card-header d-flex justify-content-between align-items-center text-decoration-none header-hover">
            <span class="text-dark">Task #1</span>
            <span class="badge bg-dark rounded-1 fw-light fs-6">Not started</span>
        </a>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-fixed mb-0 align-middle">
                    <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0 fw-semibold fs-6" style="width: 20%;">Assigned</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Time Estimate</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Time Spent</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Priority</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Edit</th>
                        <th class="border-bottom-0 fw-semibold fs-6">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border-bottom-0 fw-normal fs-6 text-wrap">Martinjensen69</td>
                        <td class="border-bottom-0 fw-normal fs-6">20</td>
                        <td class="border-bottom-0 fw-normal fs-6">0</td>
                        <td class="border-bottom-0">
                            <span class="badge bg-danger rounded-3 fw-semibold fs-6">High</span>
                        </td>
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/static/gear.svg" alt="Settings" class="icon-hover" width="22" height="22">
                            </a>
                        </td>
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/static/trash-fill.svg" alt="delete" class="icon-hover" width="22" height="22">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- Subprojects (END) -->


<!-- FOOTER -->
<div class="container">
    <footer class="py-3 my-0">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <p class="text-center text-body-secondary">Customer Support: (+45) 35 20 30 40</p>
    </footer>
</div>
<!-- FOOTER (END) -->


</body>
</html>