<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project manager project</title>
    <!-- External stylesheets -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Bootstrap CSS for responsive design and styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">


<!-- TOP NAVBAR -->
<nav class="navbar">
    <!-- Logo -->
    <a th:href="@{/alphaSolutions/projectmanager-frontpage}" class="logo-link ms-2">
        <img src="/logo.png" alt="Logo" width="246" height="45">
    </a>
    <!-- Sign-out button -->
    <form th:action="@{/alphaSolutions/logout}" method="post">
        <button type="submit" class="signout-button">Sign out</button>
    </form>
</nav>
<!-- TOP NAVBAR (END) -->

<!-- PROJECT-NAME + DESCRIPTION + PROJECT-TIME + PROJECT-EDIT  -->
<div class="container-fluid px-4 py-2">

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-1">
        <div class="col d-flex flex-column align-items-start gap-2" style="margin-top: 70px;">
            <!-- ProjectName -->
            <h2 class="fw-bold text-body-emphasis">ProjectName</h2>
            <!-- Description -->
            <p class="text-body-secondary">Description blablabla blabla blablabla blablabla blablabla blablabla blabla
                blablabla blablabla blablabla blablabla blablabla.</p>
        </div>

        <!-- Project time -->
        <div class="col">
            <div class="row row-cols-1 row-cols-sm-3 g-0">
                <div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example m-0 border-0">
                        <ul class="list-group">
                            <!-- image + project time estimate -->
                            <li class="list-group-item">
                                <img src="/clock-fill.svg" alt="Clock" width="18" height="18">
                                Time estimate: 110
                            </li>
                            <!-- image + project Time spent -->
                            <li class="list-group-item">
                                <img src="/clock.svg" alt="Clock" width="18" height="18">
                                Time spent: 125
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Project-edit -->
            <div style="margin-top: -75px;">
                <div class="bd-example-snippet bd-code-snippet text-end">
                    <a href="https://www.example.com/">
                        <img src="/gear.svg" alt="Settings" class="icon-hover" width="60" height="60">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- PROJECT-NAME + DESCRIPTION + PROJECT-TIME + PROJECT.EDIT (END) -->



<!-- ADD TASK AND BACK BUTTON -->
<div class="d-flex justify-content-between align-items-center px-3 mb-4">
    <!-- Left: Return-arrow image-link with hover effect -->
    <a th:href="@{/alphaSolutions/projectmanager-frontpage}">
        <img src="/arrow-return-left.svg" alt="Return" class="icon-hover" style="height: 40px;">
    </a>
    <!-- Right: Add Task button -->
    <a href="https://www.example.com/">
        <button class="btn btn-outline-dark" style="width: 150px; height: 50px;">
            + Add task
        </button>
    </a>
</div>
<!-- ADD TASK AND BACK BUTTON (END) -->




<!-- SUBPROJECTS LOOP -->
<div class="container-fluid px-4">

    <!-- For-each loop -->
    <div class="card mb-4" th:each="subproject : ${subprojects}">

        <!-- Link for subproject view page -->
        <a th:href="@{/alphaSolutions/projectmanager-task/{subprojectId}(subprojectId=${subproject.getSubprojectId()})}" class="card-header d-flex justify-content-between align-items-center text-decoration-none header-hover">

            <!-- SubprojectName -->
            <span class="text-dark" th:text="${subproject.subprojectName}"></span>

            <!-- Status with color coordination (Switch-case) -->
            <th:block th:switch="${subproject.subprojectStatus.name()}">

                <span th:case="'COMPLETED'"
                      class="badge rounded-1 fw-light fs-6 bg-success" th:text="${subproject.subprojectStatus}"></span>           <!-- COMPLETED = Green -->

                <span th:case="'IN_PROGRESS'"
                      class="badge rounded-1 fw-light fs-6 bg-primary" th:text="${subproject.subprojectStatus}"></span>           <!-- IN_PROGRESS = Blue -->

                <span th:case="'NOT_STARTED'"
                      class="badge rounded-1 fw-light fs-6 bg-secondary" th:text="${subproject.subprojectStatus}"></span>         <!-- NOT_STARTED = Grey -->

                <span th:case="*"
                      class="badge rounded-1 fw-light fs-6 bg-light text-dark" th:text="${subproject.subprojectStatus}"></span>   <!-- *(else) = light-grey & text-dark -->
            </th:block>
        </a>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-fixed mb-0 align-middle">

                    <thead class="text-dark fs-4">
                    <tr>
                                <!-- Title "Time estimate" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Time Estimate</th>
                                <!-- Title "Time spent" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Time Spent</th>
                                <!-- Title "Priority" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Priority</th>
                                <!-- Title Edit -->
                        <th class="border-bottom-0 fw-semibold fs-6">Edit</th>
                                <!-- Title "delete" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Delete</th>
                                <!-- Title "Planned start" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Planned start</th>
                                <!-- Title "Planned end" -->
                        <th class="border-bottom-0 fw-semibold fs-6">Planned end</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                                <!-- Time estimate -->
                        <td class="border-bottom-0 fw-normal fs-6">10</td>

                                <!-- Time spent -->
                        <td class="border-bottom-0 fw-normal fs-6">10</td>

                        <!-- Priority with color coordination (Switch-case) -->
                        <td class="border-bottom-0">
                            <th:block th:switch="${subproject.subprojectPriority.name()}">

                                <span th:case="'HIGH'"
                                      class="badge rounded-3 fw-semibold fs-6 bg-danger" th:text="${subproject.subprojectPriority}"></span>            <!-- HIGH = Red -->

                                <span th:case="'MEDIUM'"
                                      class="badge rounded-3 fw-semibold fs-6 bg-warning" th:text="${subproject.subprojectPriority}"></span>          <!-- MEDIUM = Yellow -->

                                <span th:case="'LOW'"
                                      class="badge rounded-3 fw-semibold fs-6 bg-info" th:text="${subproject.subprojectPriority}"></span>             <!-- LOW = Light-blue -->

                                <span th:case="*"
                                      class="badge rounded-3 fw-semibold fs-6 bg-light text-dark" th:text="${subproject.subprojectPriority}"></span>  <!-- *(else) = light-grey & text-dark -->
                            </th:block>
                        </td>

                                <!-- Edit image-link -->
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/gear.svg" alt="Settings" class="icon-hover" width="22" height="22">
                            </a>
                        </td>

                                <!-- Delete image-link -->
                        <td class="border-bottom-0 fw-semibold fs-4">
                            <a href="https://www.example.com/">
                                <img src="/trash-fill.svg" alt="delete" class="icon-hover" width="22" height="22">
                            </a>
                        </td>

                        <!-- Start date -->
                        <td class="border-bottom-0 fw-normal fs-6">
                            <span class="d-block fw-normal" th:text="${subproject.subprojectStartDate}"></span>
                        </td>

                        <!-- End date -->
                        <td class="border-bottom-0 fw-normal fs-6">
                            <span class="d-block fw-normal" th:text="${subproject.subprojectEndDate}"></span>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- SUBPROJECTS LOOP (END) -->


<!-- FOOTER -->
<div class="container">
    <footer class="py-3 my-0">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <!-- Customer support text -->
        <p class="text-center text-body-secondary">Customer Support: (+45) 35 20 30 40</p>
    </footer>
</div>
<!-- FOOTER (END) -->


</body>
</html>