<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit task</title>
  <!-- External stylesheets -->
  <link rel="stylesheet" href="/styles.css">
  <!-- Bootstrap CSS for responsive design and styling -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">

<!-- TOP NAVBAR -->
<nav class="navbar">
  <!-- Logo -->
  <a th:href="@{/alphaSolutions/pm/projectmanager-frontpage}" class="logo-link ms-2">
    <img src="/static/logo.png" alt="Logo" width="246" height="45">
  </a>
</nav>
<!-- TOP NAVBAR (END) -->

<!-- FORM CONTAINER -->
<div class="container my-5">

  <main>
    <div class="row g-5">

      <div class="col-md-7 col-lg-8 mx-auto">

        <!-- Form to edit a task -->
        <form th:action="@{/alphaSolutions/pm/projectmanager-edit-task}"
              th:object="${task}" method="post">

          <!-- hidden values -->
          <input type="hidden" th:field="*{taskId}" />
          <input type="hidden" th:field="*{subProjectId}" />

          <!-- Project Card "Edit Task" -->
          <div class="card shadow-sm rounded mb-4">
            <div class="card-header fw-semibold">
              Edit Task
            </div>
            <div class="card-body">

              <!-- Input: Task Name -->
              <div class="mb-3">
                <label for="taskName" class="form-label">Task Name</label>
                <input type="text" class="form-control" id="taskName" th:field="*{taskName}"  placeholder="Enter project taskname">
              </div>

              <!-- Input: Time Estimate -->
              <div class="mb-3">
                <label for="timeEstimate" class="form-label">Time Estimate (hours)</label>
                <input type="number" class="form-control" id="timeEstimate" th:field="*{estimatedHours}"  placeholder="e.g. 12">
              </div>


            </div>
          </div>
          <!-- task Form Card (END) -->

          <!-- Priority Selection -->
          <div class="card shadow-sm rounded mb-4">
            <div class="card-header fw-semibold">
              Priority
            </div>
            <div class="card-body">

              <!-- Radio button: High -->
              <div class="form-check">
                <input class="form-check-input" type="radio" id="priorityHigh" value="HIGH" th:field="*{priority}">
                <label class="form-check-label" for="priorityHigh">High</label>
              </div>

              <!-- Radio button: Medium -->
              <div class="form-check">
                <input class="form-check-input" type="radio" id="priorityMedium" value="MEDIUM" th:field="*{priority}">
                <label class="form-check-label" for="priorityMedium">Medium</label>
              </div>

              <!-- Radio button: Low -->
              <div class="form-check">
                <input class="form-check-input" type="radio" id="priorityLow" value="LOW" th:field="*{priority}">
                <label class="form-check-label" for="priorityLow">Low</label>
              </div>

            </div>
          </div>
          <!-- Priority Selection (END) -->


          <!-- Status Selection -->
          <div class="card shadow-sm rounded mb-4">
            <div class="card-header fw-semibold">
              Status
            </div>
            <div class="card-body">

              <!-- Radio button: Completed -->
              <div class="form-check">
                <input class="form-check-input" type="radio" id="statusCompleted" th:field="*{status}" value="COMPLETED">
                <label class="form-check-label" for="statusCompleted">Completed</label>
              </div>

              <!-- Radio button: In Progress -->
              <div class="form-check">
                <input class="form-check-input" type="radio" id="statusInProgress" th:field="*{status}" value="IN_PROGRESS">
                <label class="form-check-label" for="statusInProgress">In progress</label>
              </div>

              <!-- Radio button: Not Started -->
              <div class="form-check">
                <input class="form-check-input" type="radio" id="statusNotStarted" th:field="*{status}" value="NOT_STARTED">
                <label class="form-check-label" for="statusNotStarted">Not started</label>
              </div>

            </div>
          </div>
          <!-- Status Selection (END) -->


          <div class="d-flex justify-content-between mt-4">
            <!-- Cancel-button -->
            <div>
              <a th:href="@{/alphaSolutions/pm/projectmanager-task/{subprojectId}(subprojectid=${task.subProjectId})}" class="btn btn-outline-secondary" role="button">Cancel</a>
            </div>
            <!-- Submit-button -->
            <div class="d-flex gap-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </main>
</div>
<!-- FORM CONTAINER (END) -->

<!-- FOOTER -->
<div class="container">
  <footer class="py-3 my-0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
    <!-- Customer support text -->
    <p class="text-center text-body-secondary">Customer Support: (+45) 35 20 30 40</p>
  </footer>
</div>
<!-- FOOTER (END) -->

</body>
</html>